@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

$dark: rgb(30, 30, 43);
$primary: rgb(0, 189, 145);
$body-color: #525f7f;
$body-bg: $dark;

$font-size-base: 0.7634rem;
// $font-size-base: 0.83rem;

$primary: rgb(225, 78, 202);
$secondary: rgb(12, 119, 220);
$white: white;
$light: rgb(240, 240, 240);
$info: rgb(0, 189, 145);
$lighter: rgb(40, 42, 62);

$font-family-sans-serif: "Poppins", sans-serif;

$theme-colors: (
  "dark": $dark,
  "primary": $primary,
  "light": $light,
  "info": $info,
  "danger": #dc3545,
  "lighter": $lighter,
  "secondary": $secondary,
);

:root {
  --bs-dark-tr: rgba(30, 30, 43, 0.6);
}
.bg-dark-tr {
  background: var(--bs-dark-tr) !important;
}
.text-light-tr {
  color: hsla(0, 0%, 100%, 0.8) !important;
}
.rounded-md {
  border-radius: 1rem !important;
}
.btns {
  display: flex;
  justify-content: center;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar,
.hide-scroll::-webkit-scrollbar {
  display: none;
}

body,
html,
.hide-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
input:focus,
input:hover,
.btn:hover,
.btn:focus {
  outline: none;
  box-shadow: none !important;
}
input.input,
textarea {
  background: var(--bs-lighter) !important;
  border: none;
  border-radius: 1px !important;
  color: hsla(0, 0%, 100%, 0.6) !important;
  padding: 0.8rem 1rem !important;
}
input[type="checkbox"] {
  border-color: var(--bs-primary);
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='%23ccc'/></svg>") !important;
}
.loadingImg {
  z-index: 1;
  width: 100%;
  padding: 45%;
  /* background-color: white; */
}
.card-img-top.abs {
  z-index: 1;
  left: 0;
  top: 0;
  position: absolute;
  cursor: pointer;
}
.spin {
  -webkit-animation: spin 1.2s infinite linear;
  -moz-animation: spin 1.2s infinite linear;
  animation: spin 1.2s infinite linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(-360deg);
  }
}
.btn-gradient {
  color: white !important;
  background-size: cover;
  background-repeat: no-repeat;
  border: none !important;
  background: linear-gradient(95deg, var(--bs-primary) 50%, #007ef3 100%);
}

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

// $theme-colors: map-remove($theme-colors, "secondary");

@import "../../node_modules/bootstrap/scss/variables";

@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";

@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";

@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";

@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/button-group";

@import "../../node_modules/bootstrap/scss/forms";

// @import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/bootstrap-utilities.scss";

@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/card";
@import "../../node_modules/bootstrap/scss/helpers";

@import "../../node_modules/bootstrap/scss/tables";

@import "../../node_modules/bootstrap/scss/spinners";

@import "../../node_modules/bootstrap/scss/badge";
@import "../../node_modules/bootstrap/scss/progress";

@import "../../node_modules/bootstrap/scss/carousel";

.bi-lg {
  font-size: 1.2rem;
}
.bi {
  display: flex;
}
